html {
	background-color: #000000;
}

body {
	padding: 0px;
	margin: 0px;
}

main {
	min-width: 1000px;
	width: 1000px;
	margin: 0px auto;
}

.content {
	min-height: 100px;
}

.content canvas {
	height:  600px;
	width:   800px;
	display: block;
	margin:  30px auto;
}